.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-list-items {
  padding-left: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}
